<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <form action="/users" method="POST">
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="text" id="password" name="password" required>
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
        <form action="/users/login" method="post">
            <h2>Login</h2>
            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="username">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </section>
</body>

</html>